@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.text-slab {
  font-family: 'Roboto Slab', serif;
  font-weight: 500; /* Medium */
  font-size: 20px;
}

input {
  font-family: 'Comfortaa', serif;
}

button {
  padding: 16px;
  border: 1px solid black;
  cursor: pointer;
}
