<div class="flex justify-between container px-3 py-4 text-slab border-b-black border-b-2">
  <div class="flex gap-8 items-center">
    @for (leftRoute of $leftRoutes(); track leftRoute) {
      <a [routerLink]="`/${leftRoute.path}`">
        {{leftRoute.label}}
      </a>
    }
  </div>

  <span>
    <img ngSrc="/anyfood/apps/anyfood/public/anyfood.svg" height="74" width="156" alt="logo">
  </span>

  <div class="flex gap-8 items-center">
    @for (leftRoute of $rightRoutes(); track leftRoute) {
      <a [routerLink]="`/${leftRoute.path}`">
        {{leftRoute.label}}
      </a>
    }
  </div>
</div>
